.panel-body {
	background-color:black;
	width:100px;
	float:left;
}
#ramInfo {
	margin-left:110px;
}
.haut {
text-align:right;
}
#menu {
background-color:silver;
width:100px;
float:left;
}